doctype html
html(lang="ko")
    head
        title #{pageTitle} | Youtube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css@1.11/mvp.css")
    body
        header 
            if fakeUser.loggedIn    
                small Hello #{fakeUser.username}
            nav 
                ul 
                    if fakeUser.loggedIn 
                        li 
                            a(href="/login") Log Out
                    else
                        li 
                            a(href="/login") Login
            h1=pageTitle
        main
            block content
    include partials/footer.pug