doctype html
html(lang="ko")
    head
        title #{pageTitle} | Youtube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css@1.11/mvp.css")
    body
        header 
            h1 Who is sexy? #{sexy}
            nav 
                ul 
                    li 
                        a(href="/") Home
                    li 
                        a(href="/join") Join
                    li 
                        a(href="/login") Login
                    li 
                        a(href="/videos/upload") Upload Video
                    li 
                        a(href="/search") Search
        main
            block content
    include partials/footer.pug