extends base.pug
block content 
    h4 Update Video
    form(method="POST")
        input(name="title" placeholder="Video Title" value=video.title required)
        input(name="description" placeholder="Description" value=video.description required type="text" minlength=20)
        input(name="hashtags" placeholder="Hashtags, seperated by comma." value=video.hashtags.join() required type="text")
        input(value="Save" type="submit")
