extends base.pug
include mixins/video 

block content 
    div.video__grid
        each potato in videos    
            +video(potato)
            +video(potato)
            +video(potato)
            +video(potato)
            +video(potato)
            +video(potato)
            +video(potato)
            +video(potato)
            +video(potato)
            +video(potato)
        else 
            li Sorry, nothing found.