extends base 

block content 
    if errorMessage 
        span=errorMessage
    form(method="POST")
        input(name="name" placeholder="name" type="text" required)
        input(name="email" placeholder="email" type="email" required)
        input(name="username" placeholder="username" type="text" required)
        input(name="password" placeholder="password" type="password" required)
        input(name="password2" placeholder="password" type="password" required)
        input(name="location" placeholder="location" type="text" required)
        input(type="submit" value="Join")
        include partials/social-login
    div.auth-switch
        span Already have an account? 
        a(href="/login") Log in now &rarr;