header 
    a(href="/").header___logo
        i.fab.fa-youtube
    nav 
        ul 
            li 
                a(href="/search") 
                    i.fas.fa-search
            if loggedIn 
                li 
                    a(href="/videos/upload") Upload Video
                li 
                    a(href=`/users/${loggedInUser._id}`) My Profile
                li 
                    a(href="/users/edit") Edit Profile
                li 
                    a(href="/users/logout") Log out
            else
                li 
                    a(href="/join").header__btn Join
                li 
                    a(href="/login") Login