extends ../base
include ../mixins/video

block content 
    h1 Uploaded Videos 
    div.profile__data
        img(src="/" + user.avatarUrl).avatar
        h3=user.name
    div.video-grid
        each video in user.videos
            +video(video)
        else
            span.empty__message No videos found